<div class="main_color_rep">
    <div class="start_node">
        <div class="start"></div>
        <div class="statr_txt">Start Node</div>

        <div class="start" style="margin-left: 80px;"></div>
        <div class="statr_txt">Gole Node</div>
    </div>


    <div class="start_node">
        <div class="start"></div>
        <div class="statr_txt">Blocked/Wall Node</div>

        <div class="start" style="margin-left: 20px;"></div>
        <div class="statr_txt">Toll Node</div>
    </div>


    <div class="start_node">
        <div class="start"></div>
        <div class="statr_txt">Unvisitd Node</div>

        <div class="start" style="margin-left: 55px;"></div>
        <div class="statr_txt">Path Node</div>
    </div>

    <div class="start_node">
        <div class="start"></div>
        <div class="start"></div>
        <div class="start"></div>
        <div class="start"></div>
        <div class="statr_txt">Visited Nodes</div>
    </div>
</div>
