div {
  width: 100%;
  height: 100%;
}
.cell_color {
  width: 100%;
  height: 100%;
  background-color: goldenrod;
}

.start_cell {
  width: 100%;
  height: 100%;
  background-color: red;
}

.end_cell {
  width: 100%;
  height: 100%;
  background-color: green;
}

.close_cell {
  width: 100%;
  height: 100%;
  background-color: black;
}

.neighbor_cell {
  width: 100%;
  height: 100%;
  background-color: indianred;
}

.current_cell {
  width: 100%;
  height: 100%;
  background-color: yellow;
}

.path_cell {
  width: 100%;
  height: 100%;
  background-color: blueviolet;
}

.visited_start {
  width: 100%;
  height: 100%;
  background-color: orange;
}

.visited_goal {
  width: 100%;
  height: 100%;
  background-color: magenta;
}

.middle {
  width: 100%;
  height: 100%;
  background-color: firebrick;
}
