<div class="grid">
    <table>
        <tr *ngFor="let row of cells; index as y">
            <td *ngFor="let col of row; index as x" 
            (contextmenu)="onRightClick()"
            (mousedown)="mouseDownHandler($event,y,x)" 
            (mouseenter)="mouseEnterHandler(y,x)"
            (mouseup)="mouseUpHandler()" 

            draggable="{{cells[y][x].status == 'start' || cells[y][x].status == 'end'}}"
            (dragstart) = "DragStart($event, y, x)"
            
            (drop) ="MouseUp($event, y,x)"
            (dragover)="DragCancel($event,y,x)"


            [ngStyle]="{'width': 600/cells.length+'px', 'height':1200/cells[0].length+'px'}"
            >
                <app-gridcell #cell [cell] = "cells[y][x]"></app-gridcell>
            </td>
        </tr>
    </table>

</div>