<div class="grid">
    
    <table>
        <tr *ngFor="let row of cells; index as y">
            <td *ngFor="let col of row; index as x" 
            (contextmenu)="onRightClick()"
            (mousedown)="mouseDownHandler($event,y,x)" 
            (mouseenter)="mouseEnterHandler(y,x)"
            (mouseup)="mouseUpHandler()" 

            draggable="{{cells[y][x].status == 'start' || cells[y][x].status == 'end'}}"
            (dragstart) = "DragStart($event, y, x)"
            
            (drop) ="MouseUp($event, y,x)"
            (dragover)="DragCancel($event,y,x)"

            (touchstart) = "touchStart($event, y,x)"
            (touchend) = "touchEnd($event, y,x)"
            (touchcancel) = "touchCancel($event, y,x)"
            (touchmove) = "touchMove($event, y,x)"
            
            >
                <div class="responsive-cell" [ngStyle]="{'width': cell_width+'vw', 'height':cell_width+'vw'}">
                    <app-gridcell id="{{y+','+x}}" #cell [cell] = "cells[y][x]"></app-gridcell>
                </div>
            </td>
        </tr>
    </table>

</div>