  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <a class="navbar-brand navhome" href="#">Algo Visualizer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown algo">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ this.toVis.algorithm}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)=" this.toVis.algorithm= 'BFS'">BFS (Breadth First Search)</a>
            <a class="dropdown-item" (click)=" this.toVis.algorithm= 'DFS'">DFS (Depth  First Search)</a>
            <a class="dropdown-item" (click)=" this.toVis.algorithm= 'Dijkstra'">Dijkstra's</a>
            <a class="dropdown-item" (click)=" this.toVis.algorithm= 'A* algorithm'">A* algorithm</a>
          </div>
        </li>

        <li class="nav-item dropdown algo">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Grid Size
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="ResetGridSize(10)">10 X 10</a>
            <a class="dropdown-item" (click)="ResetGridSize(20)">10 X 20</a>
            <a class="dropdown-item" (click)="ResetGridSize(30)">50 X 70</a>
          </div>
        </li>

        <li class="nav-item dropdown algo">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Options
          </a>
          <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
            <input type="checkbox" (change)="this.toVis.allowDiagonals= !this.toVis.allowDiagonals">Allow Diagonals<br>
            <input type="checkbox" (change)="this.toVis.allowBidirection= !this.toVis.allowBidirection">Allow Bidirection <br>
          </div>
        </li>

        <li class="nav-item dropdown algo">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Heuristics
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)=" this.toVis.heuristics= 'manhattan'">Manhattan</a>
            <a class="dropdown-item" (click)=" this.toVis.heuristics= 'euclidean'">Euclidean</a>
            <a class="dropdown-item" (click)=" this.toVis.heuristics= 'octile'">Octile</a>
            <a class="dropdown-item" (click)=" this.toVis.heuristics= 'chebyshev'">Chebyshev</a>
          </div>
        </li>

        <div class="nav-item nav-link speed">
          <div class="form-group">
            <label for="formControlRange">Speed</label>
            <input type="range" class="form-control-range" min="0" max="400" value="30" id="formControlRange" [(ngModel)]="toVis.algorithmSpeed" name="favoriteColor">
          </div>
        </div>


      </ul>

      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="RunVisualizer()">Visualize</button>
      &nbsp; &nbsp;
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="RunReset()">Reset Visualization</button>
      &nbsp; &nbsp;
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="RunResetAll()">Reset All</button>
      <!-- &nbsp; &nbsp;
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="advance_setting = !advance_setting">
        <i class="fa fa-cog" aria-hidden="true"></i>
        Advanced Settings
      </button> -->
    </div>



    
  </nav>

