      <header style="width:100vw; z-index: 10; position:absolute;">

        <div class="logo navhome" (click)="turn_walkthrough_tutorial()">
            AlgoVisualizer
        </div>

        <a href="#" id="hamburger_btn" class="toggle__button" (click)="isHamburger_status = !isHamburger_status;" [class.open]="isHamburger_status">
            <span class="toggle__bar"></span>
            <span class="toggle__bar"></span>
            <span class="toggle__bar"></span>
        </a>

        <ul class="nav__links" [class.active]="isHamburger_status">
            <li><a href="#" >Algorithms</a>
                <ul style="width:250px;">
                    <li (click)=" this.toVis.algorithm= 'BFS'" [class.opt-active]="this.toVis.algorithm == 'BFS'">BFS (Breadth First Search)</li>
                    <li (click)=" this.toVis.algorithm= 'DFS'" [class.opt-active]="this.toVis.algorithm == 'DFS'">DFS (Depth First Search)</li>
                    <li (click)=" this.toVis.algorithm= 'Dijkstra'" [class.opt-active]="this.toVis.algorithm == 'Dijkstra'">Dijkstra's</li>
                    <li (click)=" this.toVis.algorithm= 'A* algorithm'" [class.opt-active]="this.toVis.algorithm == 'A* algorithm'">A* Algorithm</li>
                </ul>
            </li>
            <li><a href="#">Grid Size</a>
                <ul>
                    <li (click)="ResetGridSize(10)" [class.opt-active]="this.custom_grid_size == 10">10 X 20</li>
                    <li (click)="ResetGridSize(20)" [class.opt-active]="this.custom_grid_size == 20">20 X 40</li>
                    <li (click)="ResetGridSize(30)" [class.opt-active]="this.custom_grid_size == 30">30 X 60</li>
                    <li (click)="ResetGridSize(40)" [class.opt-active]="this.custom_grid_size == 40">40 X 80</li>
                    <li (click)="ResetGridSize(50)" [class.opt-active]="this.custom_grid_size == 50">50 X 100</li>
                </ul>
            </li>
            <li><a href="#">Pattern & Maze</a>
                <ul style="width:250px;">
                  <li (click)="mazesAndPattern('Blank Grid')" [class.opt-active]="this.maze_pattern == 'Blank Grid'">Blank Grid</li>
                  <li (click)="mazesAndPattern('Random Pattern')" [class.opt-active]="this.maze_pattern == 'Random Pattern'">Random Pattern</li>
                  <li (click)="mazesAndPattern('Recursive Division')" [class.opt-active]="this.maze_pattern == 'Recursive Division'">Recursive Division</li>
                  <li (click)="mazesAndPattern('Recursive Division (Verticle skew)')" [class.opt-active]="this.maze_pattern == 'Recursive Division (Verticle skew)'">Recursive Division (Verticle Skew)</li>
                  <li (click)="mazesAndPattern('Recursive Division (Horizontal skew)')" [class.opt-active]="this.maze_pattern == 'Recursive Division (Horizontal skew)'">Recursive Division (Horizontal Skew)</li>
                </ul>

                
            </li>
            <li><a href="#">Advance Options</a>
                <ul style="width: 500px;">
                    <li class="advanceOpt">
                        <span class="sub_advanceopt">
                            <label for="allow_diagonal" class="custom-checkbox">
                                <input class="custom-checkbox__input" type="checkbox" id="allow_diagonal" (change)="this.toVis.allowDiagonals= !this.toVis.allowDiagonals">
                                <div class="custom-checkbox__box"></div>
                                Allow Diagonals
                            </label>
                        </span>

                        <span class="sub_advanceopt">
                            <label for="diagonal_w">Diagonal Weight
                            <div class="container">
                                <span class="next" (click)="increment_num(1)"></span>
                                <span class="prev" (click)="decrement_num(1)"></span>
                                <div class="box_outer">
                                    <input class="box" type="number" step="0.1" max="100" min="1" value= {{this.diagonal_weight}} [(ngModel)]="this.diagonal_weight" (focusout)="updateWeights(); ">
                                </div>
                            </div>
                        </label> 
                            
                        </span>
                    </li>
                    <li class="advanceOpt">
                        <span class="sub_advanceopt">
                            <label for="allow_bidirection" class="custom-checkbox">
                                <input class="custom-checkbox__input" type="checkbox" id="allow_bidirection" (change)="this.toVis.allowBidirection= !this.toVis.allowBidirection">
                                <div class="custom-checkbox__box"></div>
                                Allow Bidirection
                            </label>
                        </span>
                        <span class="sub_advanceopt">
                            <label for="toll_w">Toll Node Weight
                                <div class="container">
                                    <span class="next" (click)="increment_num(0)"></span>
                                    <span class="prev" (click)="decrement_num(0)"></span>
                                    <div class="box_outer">
                                        <input id="toll_w" class="box" type="number" step="0.1" max="100" min="1" value="{{this.toll_weight}}" [(ngModel)]="this.toll_weight" (focusout)="updateWeights();">
                                    </div>
                                </div>
                            </label> 
                        </span>
                    </li>

                    <li class="advanceOpt" style="background-color: #24252a;"> Heuristics</li>

                    <li class="advanceOpt">
                        <span style="text-align: center;">
                            <label for="Heuristics_manhattan" class="custom-radio-btn">
                                <input type="radio" id="Heuristics_manhattan" (click)=" this.toVis.heuristics= 'manhattan'" name="Heuristics" class="radio__input" checked>
                                <div class="radio__radio"></div>
                                Manhattan
                            </label>
                        </span>
                        <span style="text-align: center;">
                            <label for="Heuristics_euclidean" class="custom-radio-btn">
                                <input type="radio" id="Heuristics_euclidean" (click)=" this.toVis.heuristics= 'euclidean'" name="Heuristics" class="radio__input">
                                <div class="radio__radio"></div>
                                Euclidean
                            </label>
                        </span>
                    </li>

                    <li class="advanceOpt" style="background-color: #24252a;"> Speed</li>

                    <li class="advanceOpt">
                      <div class="slider-continer">
                        <span class="slider-bar"><span class="slider-fill" [style.width.%]="(toVis.algorithmSpeed/4)"></span></span>
                        <input type="range" class="custom-slider" min="0" max="400" value="350" id="formControlRange" [(ngModel)]="toVis.algorithmSpeed">
                      </div>
                    </li>

                    <li class="advanceOpt" style="background-color: #24252a;"> For Touch Screen Device</li>

                    <li class="advanceOpt">
                      <span style="text-align: center;">
                        <label for="is_touch_toll" class="custom-checkbox">
                          <input class="custom-checkbox__input" type="checkbox" id="is_touch_toll" (change)="changeTouchSetting()">
                          <div class="custom-checkbox__box"></div>
                          Touch to Create Toll Node
                      </label>
                    </span>
                    </li>

                </ul>
            </li>
        </ul>

        <div class="nav__buttons" [class.active]="isHamburger_status">
            <a class="cta" href="#"><button type="submit"  (click)="RunVisualizer()">Visualize <br> {{this.toVis.algorithm}}</button></a>
            <a class="cta" href="#"><button type="submit"  (click)="RunReset()">Reset <br> Visualization</button></a>
            <a class="cta" href="#"><button type="submit"  (click)="RunResetAll()">Reset <br> All </button></a>
        </div>

    </header>




  
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <a class="navbar-brand navhome main_logo_title" (click)="turn_walkthrough_tutorial()" >Algo <br> Visualizer</a>
    <button class="navbar-toggler" id="hamburger_btn" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown algo">
          <a class="nav-link dropdown-toggle navbar_list_item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Algorithms
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item dropdown_title">Algorithms</a>
            <a class="dropdown-item" (click)=" this.toVis.algorithm= 'BFS'">BFS (Breadth First Search)</a>
            <a class="dropdown-item" (click)=" this.toVis.algorithm= 'DFS'">DFS (Depth  First Search)</a>
            <a class="dropdown-item" (click)=" this.toVis.algorithm= 'Dijkstra'">Dijkstra's</a>
            <a class="dropdown-item" (click)=" this.toVis.algorithm= 'A* algorithm'">A* algorithm</a>
          </div>
        </li>

        <li class="nav-item dropdown algo">
          <a class="nav-link dropdown-toggle navbar_list_item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Grid Size
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item dropdown_title">Grid Size</a>
            <a class="dropdown-item" (click)="ResetGridSize(10)">10 X 20</a>
            <a class="dropdown-item" (click)="ResetGridSize(20)">20 X 40</a>
            <a class="dropdown-item" (click)="ResetGridSize(30)">30 X 60</a>
            <a class="dropdown-item" (click)="ResetGridSize(40)">40 X 80</a>
            <a class="dropdown-item" (click)="ResetGridSize(50)">50 X 100</a>
          </div>
        </li>

        <li class="nav-item dropdown algo">
          <a class="nav-link dropdown-toggle navbar_list_item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Options
          </a>

          <div class="dropdown-menu" style="width: 400px;" aria-labelledby="navbarDropdown">
            <a class="dropdown-item dropdown_title navbar_list_item" style="width: 100%;">Advance Options</a>
            
            <div class="advance_options row" aria-labelledby="navbarDropdown">
              <table style="width:100%; font-weight: normal;">
                <tr>
                  <th style="width:50%; font-weight: normal;" class="text_style">
                    <input type="checkbox" (change)="this.toVis.allowDiagonals= !this.toVis.allowDiagonals"> Allow Diagonals
                  </th>
                  <th style="font-weight: normal;" class="text_style">
                    Diagonal Weight
              
                  </th>
                  <th>
                    <input type="number" step="0.1" max="100" min="1" value= {{this.diagonal_weight}} id="diagonal_w" class="quantity-field" [(ngModel)]="this.diagonal_weight" (focusout)="updateWeights(); ">
                  </th>
                </tr>
                <tr>
                  <th style="width:50%; font-weight: normal;" class="text_style">
                    <input type="checkbox" (change)="this.toVis.allowBidirection= !this.toVis.allowBidirection"> Allow Bidirection
                  </th>
                  <th style="font-weight: normal;" class="text_style">
                    Toll Node Weight
                  </th>
                  <th>
                    <input type="number" step="0.1" max="100" min="1" value="{{this.toll_weight}}" id="toll_w" class="quantity-field" [(ngModel)]="this.toll_weight" (focusout)="updateWeights();" >
                  </th>
                </tr>
              </table>
            </div>

          </div>
        </li>

        <li class="nav-item dropdown algo">
          <a class="nav-link dropdown-toggle navbar_list_item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Heuristics
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item dropdown_title" >Heuristics</a>
            <a class="dropdown-item" (click)=" this.toVis.heuristics= 'manhattan'">Manhattan</a>
            <a class="dropdown-item" (click)=" this.toVis.heuristics= 'euclidean'">Euclidean</a>
          </div>
        </li>

        <li class="nav-item dropdown algo">
          <a class="nav-link dropdown-toggle navbar_list_item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pattern and Mazes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item dropdown_title">Pattern and Mazes</a>
            <a class="dropdown-item" (click)="mazesAndPattern('Blank Grid')">Blank Grid</a>
            <a class="dropdown-item" (click)="mazesAndPattern('Random Pattern')">Random Pattern</a>
            <a class="dropdown-item" (click)="mazesAndPattern('Recursive Division')">Recursive Division</a>
            <a class="dropdown-item" (click)="mazesAndPattern('Recursive Division (Verticle skew)')">Recursive Division (Verticle skew)</a>
            <a class="dropdown-item" (click)="mazesAndPattern('Recursive Division (Horizontal skew)')">Recursive Division (Horizontal skew)</a>
          </div>
        </li>

        <div class="nav-item nav-link speed">
          <div class="form-group">
            <label for="formControlRange" class="navbar_list_item" id="speed_label">Speed</label>
            <input type="range" class="form-control-range" min="0" max="400" value="350" id="formControlRange" [(ngModel)]="toVis.algorithmSpeed" name="favoriteColor">
          </div>
        </div>


      </ul>

          <button class="btn btn-outline-success my-2 my-sm-0 btn_n text_style" type="submit"  (click)="RunVisualizer()">Visualize {{this.toVis.algorithm}}</button>
          &nbsp; &nbsp;
          <button class="btn btn-outline-success my-2 my-sm-0 btn_n text_style" type="submit"  (click)="RunReset()">Reset Visualization</button>
          &nbsp; &nbsp;
          <button class="btn btn-outline-success my-2 my-sm-0 btn_n text_style" type="submit"  (click)="RunResetAll()">Reset All</button>
      </div>



    
  </nav> -->

