.algo {
  margin-top: 20px;
}

.navbar {
  height: 70px;
}

.speed {
  margin-top: 15px;
}

.advance_options {
  width: 400px;
  padding: 5px;
  padding-left: 20px;
  text-align: left;
}
.navhome {
  text-align: center;
}

.quantity-field {
  width: 60px;
  height: 25px;
}

.dropdown_title {
  background-color: pink;
}

@media (max-width: 1000px) {
  .navbar-collapse {
    background-color: white;
    padding: 20px;
    z-index: 5;
    margin: -20px;
    margin-top: 0px;
  }
}
