input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: #24252a; */
  /* background-color: azure; */
}

li,
a,
button,
.box {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  border-bottom: 2px solid green;
  background-color: #24252a;
  padding-top: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 5px;
}

.logo {
  background-color: transparent;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 21px;
  color: rgba(153, 194, 133, 1);
  text-decoration: none;
}

.logo:hover {
  color: #ad70d7;
}

.nav__links {
  list-style: none;
  background-color: transparent;
}

.nav__links li {
  /* border: 2px solid salmon; */
  background-color: transparent;
  display: inline-block;
  padding: 25px 10px;
  position: relative;
}

.nav__links li a {
  background-color: transparent;
  transition: all 0.3s ease 0s;
}

.nav__links li:hover a {
  color: #99c285;
}

.nav__links li ul {
  display: none;
  position: absolute;
  margin-top: 25px;
  width: 150px;
  /* background-color: gray; */
  background-color: #343435;
  border-radius: 0px 0px 10px 10px;
  border-top: #99c285 4px solid;
}

.nav__links li:hover ul {
  display: block;
  z-index: 2;
}

.nav__links li ul li {
  display: block;
  background-color: transparent;
  padding: 10px 10px;
}

.nav__links li ul li:hover {
  display: block;
  background-color: #ad70d7c2;
  padding: 10px 10px;
}

.nav__links li ul .opt-active {
  display: block;
  color: rgba(153, 194, 133, 1);
  /* border: 2px solid rgba(153, 194, 133, 1); */
  padding: 10px 10px;
}

header button {
  padding: 9px 25px;
  background-color: rgba(153, 194, 133, 1);
  color: #24252a;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.nav__buttons {
  background-color: transparent;
}
.nav__buttons a {
  margin: 5px;
  background-color: transparent;
}

header button:hover {
  background-color: #ad70d7;
  color: #fff;
}

.toggle__button {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  background-color: transparent;
}

.toggle__button .toggle__bar {
  height: 3px;
  width: 100%;
  background-color: rgba(153, 194, 133, 1);
  border-radius: 10px;
  transition: 0.5s;
}

.advanceOpt {
  display: flex;
  flex-direction: row !important;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.advanceOpt span {
  width: 50%;
}

.nav__links li ul li.advanceOpt {
  display: flex;
  flex-direction: row !important;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.nav__links li ul li.advanceOpt:hover {
  background-color: transparent;
}

/* Input spinner style */

.container {
  position: relative;
  /* width: 80px;
    height: 50px; */
  display: inline-block;

  width: 50px;
  height: 30px;

  border-radius: 40px;
  /* border: 2px solid rgba(0, 0, 0, 0.2); */
  border: 2px solid #edf0f1;
  transition: 0.5s;
  margin-left: 15px;
}

.container:hover {
  width: 80px;
  border: 2px solid rgba(153, 194, 133, 1);
}

.container .next {
  position: absolute;
  top: 50%;
  /* right: 30px; */
  right: 50%;
  display: block;
  width: 12px;
  height: 12px;
  border-top: 2px solid rgba(153, 194, 133, 1);
  border-left: 2px solid rgba(153, 194, 133, 1);
  z-index: -10;
  transform: translateY(-50%) rotate(135deg);
  cursor: pointer;
  opacity: 0;
  transition: 0.5s;
  font-size: 0px;
}

.container:hover .next {
  cursor: default;
  opacity: 1;
  /* right: 20px; */
  right: 10%;
  z-index: 1;
}

.container .prev {
  position: absolute;
  top: 50%;
  /* left: 30px; */
  left: 50%;
  display: block;
  width: 12px;
  height: 12px;
  border-top: 2px solid rgba(153, 194, 133, 1);
  border-left: 2px solid rgba(153, 194, 133, 1);
  /* z-index: 1; */
  transform: translateY(-50%) rotate(315deg);
  cursor: pointer;
  opacity: 0;
  transition: 0.5s;
  font-size: 0px;
  z-index: -10;
}

.container:hover .prev {
  cursor: default;
  opacity: 1;
  /* left: 20px; */
  left: 10%;
  z-index: 1;
}

.box_outer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.box {
  /* position: absolute; */
  border: none;
  background-color: transparent;
  display: block;
  cursor: pointer;
  /* max-width: 60px; */
  max-width: 50%;
  height: 100%;
  text-align: center;
  /* line-height: 46px; */
  /* display:none; */
  /* color: #00deff; */
  /* font-size: 24px; */
  /* font-weight: 700; */
  user-select: none;
  /* border: #867b7b solid 2px; */
  /* margin: auto; */
}

.box:focus {
  outline: none;
}

/* Slider Styles */
.slider-continer .custom-slider {
  position: relative;
  z-index: 2;
  -webkit-appearance: none;
  width: 300px;
  height: 10px;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
}

.slider-continer .slider-bar {
  position: absolute;
  z-index: 1;
  margin: 7px 0px;
  width: 300px;
  height: 10px;
  border-radius: 5px;
  background-color: rgba(153, 194, 133, 0.4);
  overflow: hidden;
}

.slider-continer .slider-bar .slider-fill {
  display: block;
  width: 50%;
  height: 100%;
  background-color: rgba(153, 194, 133, 1);
}
.slider-continer .custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #99c285;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 0 0 rgba(98, 0, 238, 0.1);
  transition: 0.3s ease-in-out;
}

.slider-continer .custom-slider::-webkit-slider-thumb:hover {
  /* background-color: #/aa6dd3; */
  box-shadow: 0 0 0 10px rgba(173, 112, 215, 0.4);
}

.slider-continer .custom-slider:active:-webkit-slider-thumb {
  box-shadow: 0 0 0 10px rgba(173, 112, 215, 0.4);
}

/* MOBILE DEVICE NAVBAR */
@media (max-width: 1140px) {
  header {
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: wrap;
    /* height: 75px; */
  }

  .logo {
    padding: 25px 10px;
    background-color: transparent;
  }

  .toggle__button {
    display: flex;
    cursor: pointer;
    order: 1;
  }

  .nav__buttons {
    order: 3;
    display: none;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .nav__links {
    order: 2;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: 2s;
  }

  .nav__links.active {
    display: flex;
  }

  .nav__links.active li {
    width: 100% !important;
    text-align: center;
  }

  .nav__links.active li ul {
    opacity: 0;
    transition: all 1s ease-in;
    display: none;
  }

  .nav__links.active li:hover ul {
    position: static;
    display: block;
    width: 100% !important;
    opacity: 1;
    /* background-color: red;
    transition-delay: 3s; */
  }

  .nav__buttons.active {
    display: flex;
    height: 50vh;
  }

  /* Hamburger Btn Animation */
  .toggle__button.open span:nth-child(2) {
    transform: translateX(-600px);
    background: transparent;
    transition: transform 1s, background 1s;
  }

  .toggle__button.open span:nth-child(1) {
    transform: translateY(9px) rotate(135deg);
  }

  .toggle__button.open span:nth-child(3) {
    transform: translateY(-9px) rotate(45deg);
  }
}
