
<div class="main_component">
    <app-nav-bar (information)="infoFromNav($event)" (reset)="resetEverything($event)"  (grid_size)="ChangeGridSize($event)" (weight_values)="changeWeightValues($event)" (mazesAndPatterns)="change_mazes_pattern($event)"></app-nav-bar>

    <div class="main-window" style="z-index:-20;">
        <div class="grid" >
            <app-gridworld #grid [toll]="toll_weight" [cells] = "cells" [inProcess] = "inProcess"  (iswallClicked)="oniswallClicked($event)" (dragged)="startOrEndDragged($event)"   disable></app-gridworld>
        </div>
    </div>
</div>

<div class="btn_navbar"></div>

<simple-notifications [options]="options"></simple-notifications>
<div class="footer">
    <div class="footer_info">

    </div>
</div>

