/* @media (max-width: 450px) {
  .main-window {
    height: 225vw;
    border: 2px solid red;
  }
}
.container-fluid {
  height: 100%;
} */
.main-window {
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100vw;
  height: 100%;
}

.grid {
  display: inline-block;
  margin: 0 auto;
  /* margin-top: 100px; */
  /* padding: 10px; */
  width: 100vw;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 50px;
  /* padding-bottom: 2.5vh; */
}

.btn_navbar {
  position: absolute;
  height: 80px;
  width: 450px;
  top: 0;
  right: 10px;
  z-index: -2;
}

.walkthrough_tutorial {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  overflow: hidden;
  text-align: center;
}
.center_div {
  margin: auto;
  position: fixed;
  width: 50%;
  margin-top: 20%;
  margin-left: 25%;
  border: 3px solid green;
  background-color: aquamarine;
  padding: 10px;
}

.tutorial_btn {
  background-color: cornsilk;
  margin-top: 80px;
  margin-left: 10px;
  width: 200px;
}
.container-fluid {
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 250px;
  /* padding-bottom: 20px; */
}

.info {
  widows: 100%;
  height: 20vh;
  background-color: goldenrod;
}

.droptarget {
  float: left;
  width: 100px;
  height: 35px;
  margin: 15px;
  padding: 10px;
  border: 5px solid red;
}

.footer {
  padding: 0;
  margin: 0;
  text-align: center;
  height: 50px;

  /* background-color: #f8f9fa !important; */

  background-color: #24252a !important;
  bottom: -20px;
}

.start_node {
  height: 50px;
}
.start {
  float: left;
  height: 30px;
  width: 30px;
  background-color: sandybrown;

  margin-left: 10px;
}

.statr_txt {
  float: left;
  margin-left: 5px;
}
